.card-gorras {
  max-width: 320px;
  font-family: 'Poppins', sans-serif;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 0;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-gorras button:hover i {
  animation: heartBeat 0.5s ease-in-out;
}

@keyframes heartBeat {
  0%, 100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
}

@media (max-width: 640px) {
  .card-gorras {
    max-width: 280px;
  }
}
